#blog h3,h4{
    text-align: center;
}

#blog .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /*cuando el elemento no encaja, lo hace bajar*/
    
}

#blog article{
    margin: 15px;
    
}

#blog img{
    width: 100%;
    max-width: 200px;
}